<% provide(:title, "Help") %>

    <h1>日本カルト案内について</h1>
    <p>B級スポットやカルトで怪しい観光地を共有するWEBアプリです。
    </p>
    <p>できること</p>
    <p>
・記事の写真付き投稿
・ゲストユーザーログイン
・ユーザー同士のフォロー
・いいね！機能
・記事検索
    </p>
  
  <p>コンタクト</p>
  <p>sirius0509@gmail.com</p>

